@use "@styles/colors" as colors;
.overlay {
  z-index: 5;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.overlay.open{
  opacity: 1;
  pointer-events: all;
}

.modal {
  scale: 0.4;
  width: 100%;
  height: 95%;
  margin: .5em;
  @media(min-width: 1300px){
    margin: 6em;
    height: 85%;
  }
  @media(min-width: 1024px){
    margin: 3em;
    height: 90%;
  }
}
.modal.open{
  scale: 1;
}

.modalBar{
  display: flex;
  background-color: colors.$win-blue;
  justify-content: space-between;
  align-items: center;
  padding: .25rem;
}

.closeBtn {
  min-width: .5rem!important;
  aspect-ratio: 1 / 1;
  font-weight: bold;
}