*{
    margin:0;
    padding:0;
    transition: all .5s ease-in-out;
    box-sizing: border-box;
}
main{
    color: white;
    background-color: #08000c;
    background-image:
            linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px);

    background-size: 20px 20px;
    padding: 3rem 1rem 1rem 1rem;
}
button, p, div{
    margin:0;
    font-size: 1rem;
    letter-spacing: .15rem;
}
button{
    padding: .5rem;
    cursor: pointer;
}
a{
    text-decoration: none;
    margin: 0;
    color: black;
    width: fit-content;
}